*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.container{
    width:500px;
    height: 40rem;
    background-color: #f1faee;
    margin: 0 auto;
    box-shadow: inset 0 0 0.5em;
    border-radius: 2rem;
    position: relative;
    top: 3rem;
}
.social{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 1rem;
    width: 100%;
    border-radius: inherit;
}
.social>a>i{
    font-size: 2rem;
    margin: 5px;
}
.social>a:nth-child(1){
    color: #000;
}
.social>a:nth-child(2){
    color: #2dc653;
}
.social>a:nth-child(3){
    color: #0353a4;
}
.social>a:nth-child(4){
    color: #ff4d6d;
}
.social>a>i:hover{
    transition: all 0.5s ease-in-out;
    transform: rotate(360deg); 
}
.input-field{    
    width:100%;
    position: absolute;
    top: 4rem;
}
.input-field span{
    display: block;
    padding: .4rem 0;
}
.cal-write{
    text-align: center;
}
.input-field input[type="text"]{
    width: 400px;
    height: 50px;
    border-radius: 15px;
    outline: none;
    border: 0;
    font-size: 25px;
    text-align: right;
    position: relative;
    left: 3rem;
    border: .1rem groove;
}
.buttons{
    width: 100%;
    position: absolute;
    top: 12rem;
    display: grid;
    grid-template-columns: repeat(3,8.4rem);
    grid-template-rows: repeat(6,4rem);
    justify-content: center;
}
.btn{
    height:50px;
    background-color: #dcf7d3;
    color: #fff;
    border: 1px solid #6b705c;
    font-size: 25px;
    margin: 5px;
    border-radius: 15px;
    color: #000;
    font-weight: 700;
    cursor: pointer;
}
.btn>img{
    width: 30px;
    height: 30px;
}
.btn:hover{
    background-color: #9ee4e7;
}


@media only screen and (max-width:768px){
    .container{
        width:620px;
        height:21rem;
        background-color: #f1faee;
        box-shadow: inset 0 0 0.5em;
        border-radius: 2rem;
        position: relative;
        top: 1.1rem;
    }
    .input-field{    
        width:100%;
        position: absolute;
        top: 4rem;
    }
    .input-field span{
        display: block;
        padding: .4rem 0;
    }
    .cal-write{
        text-align: center;
    }
    .input-field input[type="text"]{
        width: 570px;
        height: 50px;
        border-radius: 15px;
        outline: none;
        border: 0;
        font-size: 25px;
        text-align: right;
        position: relative;
        left: 2rem;
        border: .1rem groove;
    }
    .buttons{
        width: 100%;
        position: absolute;
        top: 10rem;
        display: grid;
        grid-template-columns: repeat(6,6rem);
        grid-template-rows: repeat(3,3.5rem);
        justify-content: center;
    }
} 

@media only screen and (max-width:576px) {
    .container{
        width:350px;
        height: 35rem;
        background-color: #f1faee;
        box-shadow: inset 0 0 0.5em;
        border-radius: 2rem;
        position: relative;
        top: 3rem;
    }
    .input-field{    
        width:100%;
        position: absolute;
        top: 4rem;
    }
    .input-field span{
        display: block;
        padding: .4rem 0;
    }
    .cal-write{
        text-align: center;
    }
    .input-field input[type="text"]{
        width: 290px;
        height: 50px;
        border-radius: 15px;
        outline: none;
        border: 0;
        font-size: 25px;
        text-align: right;
        position: relative;
        left: 2rem;
        border: .1rem groove;
    }
    .buttons{
        width: 100%;
        position: absolute;
        top: 10rem;
        display: grid;
        grid-template-columns: repeat(3,6rem);
        grid-template-rows: repeat(6,4rem);
        justify-content: center;
    }
}